.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidenav {
  width: 250px;
}

:host {
  button {
    background-color: #3F51B5 !important;
    color: white !important;
    border: none !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
    min-width: 0 !important;
  }

  button:hover {
    background-color: #1A237E !important;
    transform: scale(1.05);
  }
}
