@use '@angular/material' as mat;

// Customize the entire app. Change :host to your selector if you want to scope the styles.
:host {
  @include mat.table-overrides((background-color: white,
      row-item-outline-color: rgba(0, 0, 0, 0.2),
      header-headline-color: white));

  .mat-mdc-table {
    .mat-mdc-header-cell {
      background: #3F51B5 !important;
    }
  }

  .mat-mdc-table {
    border-radius: 8px;
    overflow: hidden;
  }

  ::ng-deep {
    .mat-sort-header-arrow {
      color: white !important;
    }
  }
}

.container {
  margin-top: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  margin-left: 15px;
  font-size: 2em;
}

:host {
  .title-bar button {
    background-color: #3F51B5 !important;
    color: white !important;
    border: none !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
    min-width: 0 !important;
  }

  .title-bar button:hover {
    background-color: #1A237E !important;
    transform: scale(1.05);
  }
}

