<div class="mission-type-container">
  <div class="title-bar">
    <button mat-icon-button (click)="returnHome()" aria-label="Retour à la page d'accueil">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 style="display: inline-block;">Natures de mission</h1>
  </div>

  <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
  <button mat-raised-button color="primary" (click)="openModal()">Ajouter un Type</button>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Libellé</th>
      <td mat-cell *matCellDef="let element">{{ element.label }}</td>
    </ng-container>
  
    <ng-container matColumnDef="isCharged">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Facturé</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.isCharged" disabled></mat-checkbox>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="isBonus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prime</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.isBonus" disabled></mat-checkbox>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="tjm">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TJM</th>
      <td mat-cell *matCellDef="let element">{{ element.averageDailyRate !== null ? (element.averageDailyRate + ' €') : '0 €' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="bonusPercentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>% Prime</th>
      <td mat-cell *matCellDef="let element">{{ element.bonusPercentage && element.bonusPercentage > 0 ? (element.bonusPercentage + '%') : '' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Début</th>
      <td mat-cell *matCellDef="let element">{{ element.startDate | date:'dd/MM/yyyy' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fin</th>
      <td mat-cell *matCellDef="let element">{{ element.endDate ? (element.endDate | date:'dd/MM/yyyy') : '' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openModal(element)">Modifier</button>
          <button mat-menu-item (click)="openDeleteModal(element)">Supprimer</button>
        </mat-menu>        
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'grayed-out': row.endDate}">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
