<section>
  <div class="container max-w-[1200px] mx-auto">
    <div class="flex justify-between">
      <div class="title-group">
        <app-sidenav></app-sidenav>
        <h1 class="text-3xl" style="display: inline-block;">Missions</h1>
      </div>
      <button mat-mini-fab>
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <!--    <mat-card appearance="raised">-->
    <div class="shadow-md border rounded ">
      <app-missions-table [data]="missions()"/>

    </div>
    <!--    </mat-card>-->
  </div>
</section>
