<table mat-table [dataSource]="source" matSort class="mat-elevation-z8">

  <!-- Creat table heads -->
  @for (column of columns(); track $index) {
    {{ column.label }}
    <ng-container [matColumnDef]="column.property">
      @if (column.sortable) {
        <th class="text-white" mat-header-cell *matHeaderCellDef
            mat-sort-header="{{column.property}}"> {{ column.label }}
        </th>
      } @else {
        <th mat-header-cell *matHeaderCellDef> {{ column.label }}</th>
      }
      <td mat-cell *matCellDef="let element">
        {{ column.formatter ? column.formatter(element[column.property]) : element[column.property] }}
      </td>
    </ng-container>
  }

  <!-- Set up actions button -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Modifier</button>
        <button mat-menu-item>Supprimer</button>
      </mat-menu>
    </td>
  </ng-container>

  <!-- Display the table heads-->
  <tr mat-header-row *matHeaderRowDef="headers"></tr>
  <!-- Display the table rows-->
  <tr mat-row *matRowDef="let row; columns: headers;"></tr>
</table>

<!-- This is the pagination-->
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
