.mission-summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 15px;
  margin-bottom: 20px;
}

.item {
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
}

.lib {
  background-color: #3F51B5;
  color: white;
  padding: 10px;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
  flex: 1;
}

.value {
  color: #555;
  font-size: 14px;
  padding: 10px;
  flex: 2;
}
